{{#tr-editor as |e|}}
    {{#if label}}
        {{#e.label}}
            {{tr-error-tooltip errors=errors}}
            {{label}}
            {{tr-info-tooltip title=title content=info}}
        {{/e.label}}
    {{/if}}
    {{#if prefix}}
        {{#e.prefix}}
            {{tr-string-html prefix}}
        {{/e.prefix}}
    {{/if}}
    {{#e.content}}
        <button type="{{type}}" class={{buttonClass}} disabled={{compare isDisabled '||' _isBusyDisabled}} readonly={{isReadonly}} {{action "onClick" value}}>
                {{#if (tr-eq style 'toggle')}}
                    <span class="tr-button-editor-toggle-icon">
                        &#10004;
                    </span>
                {{/if}}
                {{#if text}}
                    {{text}}
                {{else}}
                    {{#if placeholder}}
                        <span class="input-placeholder">{{placeholder}}</span>
                    {{/if}}
                {{/if}}
                {{yield}}
        </button>
    {{/e.content}}
{{/tr-editor}}