{{#tr-editor as |e|}}
    {{#e.label}}{{label}}{{/e.label}}
    {{#e.content}}
        {{#if type 'date'}}
            {{#if format}}
                {{moment-format value format}}
            {{else}}
                {{moment-format value}}
            {{/if}}
        {{else}}
            {{#if value}}
                {{#if (instance-of value 'Array')}}
                    {{#each value as |item|}}
                        {{!--join value ', '--}}
                    {{/each}}
                {{else}}
                    {{value}}
                {{/if}}
            {{else}}
                <span class="input-placeholder">{{placeholder}}</span>
            {{/if}}
        {{/if}}
    {{/e.content}}
{{/tr-editor}}