{{#tr-scroll-panel autohide=scrollbarAutohide}}
    {{yield (hash header=(component 'tr-sticky-header'))}}
    {{yield (hash menu=(component 'tr-container'))}}

    {{#if items}}
        <ul class="cb-listview-items">
            {{#each _items as |item|}}
                {{#if linkRouteName}}
                    {{!-- Enable .active on the li element --}}
                    {{#link-to linkRouteName item.id current-when=linkRouteCurrentWhen tagName="li" href=false class="cb-listview-item" classNameBindings="itemClass"}}
                        {{#link-to linkRouteName item.id}}
                            {{yield (hash data=item.item itemTemplate=(component 'tr-container'))}}
                        {{/link-to}}
                    {{/link-to}}
                {{else}}
                    <li class="cb-listview-item {{itemClass}} {{if (tr-eq item selectedItem) 'active'}}" {{action "select" item.item}}>
                        {{yield (hash data=item.item itemTemplate=(component 'tr-container'))}}
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    {{else}}
        {{yield (hash empty=(component 'tr-container'))}}
    {{/if}}
{{/tr-scroll-panel}}
