{{#tr-button-editor text=text label=label placeholder=placeholder errors=errors buttonClass=buttonClass isDisabled=isDisabled readonly=isReadonly
                    onClick=(action 'onClick')}}
    {{yield (hash text=(component 'tr-container' classNames='tr-submenu-custom-text'))}}
    <button class="tr-select-editor-button-arrow" {{action 'onToggleState' bubbles=false}} disabled={{isDisabled}}><span>&#9660;</span></button>
{{/tr-button-editor}}
<div class="tr-submenu-children {{if isOpen 'is-open' 'is-closed'}}">
    {{yield (hash items=(component 'tr-container'))}}
</div>