{{#if showImage}}
    {{#tr-image-upload image=image imagePlaceholder=imagePlaceholder showImageUpload=showImageUpload showImagePlaceholder=showImagePlaceholder onUpload=onUpload onDelete=onDelete}}
        {{imagePlaceholder}}
    {{/tr-image-upload}}
{{/if}}
<div class="tr-sticky-header-content">
    {{#if header}}<h2>{{header}}</h2>{{/if}}
    {{#if subheader}}
        <label>{{subheader}}</label>
    {{/if}}
    {{yield (hash content=(component 'tr-contentpresenter'))}}
</div>
{{yield (hash menu=(component 'tr-menubar'))}}